<!DOCTYPE html>
<html lang="en">
<head>
        <script src="http://code.jquery.com/jquery-latest.min.js"
            type="text/javascript"></script>
    <script type="text/javascript" src="../static/js/all.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="content">
<button id="main">На главную</button>
<div>{{ name }}</div>
<table border="1">
    <tr>
        <td>id</td>
        <td>status</td>
        <td>create time</td>
        <td>finish time</td>
    </tr>
    {% for x in tasks %}
        <tr>
            <td>{{ x.id }}</td>
            <td>{% if x.finish_time %} Завершена {% else %} В очереди {% endif %}</td>
            <td>{{ x.create_time }}</td>
            <td>{{ x.finish_time }}</td>
        </tr>
    {% endfor %}

</table>
</div>
</body>

</html>